/* Footer.css */

.footer {
    background-color: #ffc2c2;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    margin-bottom: 15px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-links i {
    margin-left: 5px;
  }
  
  .footer-text {
    font-size: 14px;
    text-align: center;
  }
  