footer {
    background-color: #000000;
    padding: 20px 0;
    color: #fff;
    
  }
  
  footer ul {
    display: flex;
    justify-content: space-between;
  }
  
  footer ul li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    color: #000;
  }
  
  footer .text-center {
    margin-top: 20px;
  }
  